<!DOCTYPE html>
<html ng-app="practise-app">
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/angular-material/angular-material.min.js"></script>

    <script type="text/javascript" src="/javascripts/angular-app.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
